body {
    font-family: "Nunito Sans", sans-serif;
    background-color: bisque;
    padding: 0;
    margin: 0;
}


h1 {
    text-align: center;
    font-size: 50px;
    padding: 50px;
    margin-bottom: 100px;
    background-color: burlywood;
    color: bisque;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin: 0;

}

#promoContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.promo {

    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: burlywood;
    padding-bottom: 20px;


}

.promo button {
    background-color: bisque;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
}

.promo button:hover {
    transform: scale(1.1);
}

.promo a {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: bisque;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 13px;
    align-items: center;
}

.promo a:hover {
    transform: scale(1.1);
}

.divButton {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#fromAddPromo {
    text-align: center;
    margin-top: 50px;

}

#fromAddPromo div {
    margin: 15px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#fromAddPromo div input {
    font-family: "Nunito Sans", sans-serif;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    background-color: burlywood;
    text-align: center;
}

#fromAddPromo button {
    background-color: burlywood;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
}
#fromAddPromo button:hover{
    transform: scale(1.1);
}

.hidden {
    display: none !important;
}

#buttonHidden {
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 10px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    background-color: burlywood;
    font-weight: bold;
    cursor: pointer;
}

#buttonHidden:hover {
    transform: scale(1.1);
}